.parallax-content {
  position: relative;
  top: 10vw;
  left: 12vw;
  color: white;
  letter-spacing: 1.5px;
  width: 48vw;
}

.parallax-content h2 {
  font-size: 5rem;
  font-weight: 200;
}

.parallax-content h2 b {
  font-weight: 600;
}

.parallax-content img {
  margin: 50px 0;
}

.parallax-content p {
  font-size: 2rem;
}

@media screen and (min-width: 1082px) and (max-width: 1330px) {
  .parallax-content {
    width: 60vw;
  }
}

@media screen and (min-width: 870px) and (max-width: 1081px) {
  .parallax-content {
    width: 75vw;
  }
 /*  .parallax-content h2 {
    font-size: 3rem;
  }
  .parallax-content p {
    font-size: 1.5rem;
  } */
}

@media screen and (min-width: 767px) and (max-width: 869px) {
  .parallax-content {
    top: 20vw;
    left: 6vw;
    width: 82vw;
  }
  .parallax-content h2 {
    font-size: 3rem;
  }
  .parallax-content p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 766px) {
  .parallax-content {
    top: 18vw;
    left: 4vw;
    width: 90%;
  }
  .parallax-content h2 {
    font-size: 2.25rem;
    text-shadow: black 1px 1px 2px;
  }
  .parallax-content p {
    font-size: 1.3rem;
    text-shadow: black 1px 1px 2px;
  }
  .parallax-content img {
    margin: 20px 0;
  }
}
