.background-parallax {
  background-image: url(../../../public/images/pictures/foto_portada.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-position-x: right;
  background-attachment: fixed;
  top: 0;
  width: 100%;
  min-height: 100vh;
  margin: 0;
  inset: 0;
  z-index: -2;
}

@media screen and (max-width: 500px) {
  .background-parallax {
    background-image: url(../../../public/images/pictures/2.jpg);
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-position: 0 50%; */
    /* background-attachment: fixed; */
   /*  top: 0; */
    /* width: 100%; */
    /* min-height: 100vh; */
    /* margin: 0; */
    /* inset: 0; */
    /* z-index: -2; */
  }
}
