.navBar {
  display: flex;
  font-weight: 300;
  letter-spacing: 2px;
  list-style: none;
  align-items: center;
}

.list-item {
  color: white;
  padding: 0 15px;
  text-decoration: none;
  border: 2px solid transparent;
}

.list-item:hover {
  color: rgb(248, 244, 8);
  font-weight: bold;
  border: 0;
}

.menu-container {
  display: flex;
}

.social-container {
  margin-left: 40px;
}

.social {
  padding-left: 20px;
}

.social img:hover {
    color: rgb(248, 244, 8);
}
