.container-navbar {
  border-bottom: 1px solid white;
}

@media (min-width: 767px) {
  .navbar-toggler {
    display:none;
  }

  .navbar {
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }
  
  .navbar-nav {
    flex-direction: row;
    margin: 0 auto;
    margin-left: 12vw;  
  }

  .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
  }

  .nav-link {
    font-size: 1.2rem;
    letter-spacing: 4px;
    margin: 0 0.8rem;
    color: white;
  }
  .social {
    padding: 0 0.5rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1400px) {
  .container {
    max-width: 1060px;
    padding: 0 2rem;
  }
  .navbar-nav {
    margin-left: auto;
  }
  .nav-link {
    font-size: 1rem;
    margin: 0 0.4rem;
    letter-spacing: 3px;
  }
  .social {
    padding: 0 0.2rem;
  }
}

@media screen and (min-width: 766px) and (max-width: 991px) {
  .container {
    max-width: 800px;
    padding: 0 2rem;
  }
  .navbar-nav {
    margin-left: auto;
  }
  .nav-link {
    font-size: 1rem;
    margin: 0 0.3rem;
    letter-spacing: 1.8px;
  }
  .social {
    padding: 0 0.2rem;
  }
  .social img {
    width: 28px;
  }
}

@media screen and (min-width: 500px) and (max-width: 766px) {
  .navbar {
    justify-content: space-around;
  }
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 50px;
  }
  .nav-link {
    color: white;
  }
  .social {
    padding: 0 0.2rem;
  }
}

@media screen and (max-width: 499px) {
  .navbar {
    justify-content: space-around;
  }
  .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;
  }
  .nav-link {
    color: white;
  }
  .social {
    padding: 0 0.2rem;
  }
}